<div>
  <h1>{{title}}</h1>
  <div>
    <input type="text" placeholder="Write a todo" [(ngModel)]="text">
    <button (click)="addTodo()">Add</button>
  </div>
  <div class="show-list">
    <ul>
      <li class="item-list"
      *ngFor="let item of filerTodos" 
      [class.completed]="item.completed"
      >
        <span (click)="toggle(item)">{{item.title}}</span>
        <button (click)="editTodo(item)">Edit</button>
        <button (click)="deleteTodo(item)">Delete</button>
      </li>
    </ul>
  </div>
    <p>All: {{count}}</p>
    <p>Active:{{activeCount}}</p>
    <p>Completed:{{completedCount}}</p>
    <div class="filter">Filter:
      <span [class.active]="status==='All'" (click)="setStatus('All')">All</span>
      <span [class.active]="status==='Active'" (click)="setStatus('Active')">Active</span>
      <span [class.active]="status==='Completed'" (click)="setStatus('Completed')">Completed</span>
    </div>
  <br>
    <div *ngIf="editItem">
      <input type="text" [(ngModel)]="editItem.title">
      <input type="checkbox" [(ngModel)]="editItem.completed">
      <button (click)="saveTodo()">Save</button>
      <button (click)="cancelTodo()">Cancel</button>
    </div>
</div>
<router-outlet></router-outlet>
